#loading{
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    }
      
    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }

.itemsBlock{
    .itemImage{
        height: 30vh !important;
    }
    .card{
        height: 60vh;
        margin-bottom: 5vh;
        background-color: #F4F4F4;
        border-color: #E6E6E6;
        .card-body{
            height: auto;
            
        }
        .descuentoContent{
            position:absolute;
            margin:auto;
            width: auto;
            height: auto;
            top:2vh;
            left: 1.5rem;
            background-color: #5B17AA    !important;
            .descuento{
                color: white; 
                margin-top: auto;
                margin-bottom: auto;  
            }
        }
    }
    .itemTittle{
        font-family: HelveticaNeue;
    }
    .contentValues{
        .itemPrice{
            margin-left:1vw; 
            color: #5B17AA;
            font-family: HelveticaNeue;
            
        }
        .itemDiscount{
            margin-right:1vw;
            font-family: HelveticaNeue Light;
            text-decoration-line: line-through !important;
        }
    }
    .contentCarButton{
        height: 4vh;
        background-color: black;
        .cartButton{
            background-color: black;
            color: white;
            font-size: 1rem;
            height: auto;
            
            text-decoration: none;
            .cartButtonImg{
                filter: invert(100%) sepia(100%) saturate(100%) hue-rotate(100deg) brightness(100%) contrast(100%);
                height: 20px;
                width: auto !important;
            }
        }

    }
}
.separador{height: 7vh;}