<div class="principal-content d-block w-100">
    <app-header></app-header>
    <app-carrusel></app-carrusel>
    <div class="separador"></div>
    <!--Content categorias laptop/pc-->
    <div class="contentCategories d-none d-xxl-block">
        <div class="row">
            <div class="col 2"></div>
            <div class="col-4 imgCategories text-center">
                <img class="imgMostrar" alt="modaInfantil" src="assets/images/categorias-destacadas-moda-infantil.png">
                <p class="textCategories pt-0">MODA INFANTIL</p>
            </div>
            <div class="col-4 imgCategories text-center">
                <img class="imgMostrar" alt="proteccion" src="assets/images/categorias-destacadas-proteccion.png">
                <p class="textCategories">PROTECCIÓN</p>
            </div>
            <div class="col 2"></div>
        </div>
    </div>
    <!--Content categorias mobile-->
    <div class="row d-xxl-none d-block">
        <div class="col 2"></div>
        <div class="col-4 imgCategoriesMB text-center">
            <img class="imgMostrarMB" alt="modaInfantil" src="assets/images/categorias-destacadas-moda-infantil.png">
            <p class="textCategoriesMB pt-0">MODA INFANTIL</p>
        </div>
        <div class="col-4 imgCategoriesMB text-center">
            <img class="imgMostrarMB" alt="proteccion" src="assets/images/categorias-destacadas-proteccion.png">
            <p class="textCategoriesMB">PROTECCIÓN</p>
        </div>
        <div class="col 2"></div>
    </div>

    <div class="separador"></div>
    <app-mas-buscados></app-mas-buscados>
    <div class="separador"></div>
    <app-footer></app-footer>
</div>