span{
    background-color: #8C8C8C;
    height: 10vh;
    width: 5vw;
    color: white;
}
.carousel-indicators li {
    border-radius: 100%;
    width: 2vw;
    height: 2vw;
    background-color: white;
}